{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    

    <title>Excluir</title>

</head>
<body>
<div class="container">

  <h1>Excluir?</h1>

    <form method="post">
        {% csrf_token %}
        <p class="confirmText">Você tem certeza que quer excluir o Anime {{ object.animeName }}?</p>
        <button class="yes_button" type="submit">Sim, tenho certeza</button>
        <button class="cancel_button" type="button"><a href="{% url 'list_animes' %}">Cancelar</a></button>
    </form>
</div>

</body>
</html>